.course__details {
    padding: 40px 85px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 15px 0px rgba(236, 208, 244, 0.3);
  }
  
  @media (max-width: 991px) {
    .course__details {
      padding: 30px 5px;
    }
  }
  
  .course__details .course__details_title {
    display: flex;
  }
  
  @media (max-width: 991px) {
    .course__details .course__details_title {
      flex-direction: column;
    }
  }
  
  .course__details .course__details_title .single__details {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
  }
  
  @media (max-width: 991px) {
    .course__details .course__details_title .single__details {
      margin-bottom: 30px;
    }
  }
  
  .course__details .course__details_title .single__details:not(:last-child) {
    margin-right: 60px;
    padding-right: 60px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .course__details .course__details_title .single__details:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 991px) {
    .course__details .course__details_title .single__details:not(:last-child) {
      margin-right: 0;
      padding-right: 0;
    }
  }
  
  .course__details .course__details_title .single__details:not(:last-child)::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: #828bb2;
    width: 1px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.149;
  }
  
  @media (max-width: 991px) {
    .course__details .course__details_title .single__details:not(:last-child)::before {
      display: none;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .course__details .course__details_title .single__details:not(:last-child)::before {
      display: none;
    }
  }
  
  .course__details .course__details_title .single__details .thumb {
    margin-right: 25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    flex: 80px 0 0;
  }
  
  .course__details .course__details_title .single__details .thumb img {
    width: 100%;
    border-radius: 50%;
  }
  
  .course__details .course__details_title .single__details .details_content span {
    font-size: 14px;
    font-weight: 400;
    color: #828bb2;
    display: inline-block;
    margin-bottom: 3px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .course__details .course__details_title .single__details .details_content h4 {
      font-size: 18px;
    }
  }
  
  .course__details .course__details_title .single__details .details_content .rating_star {
    display: flex;
  }
  
  .course__details .course__details_title .single__details .details_content .rating_star .stars {
    display: flex;
    align-items: center;
  }
  
  .course__details .course__details_title .single__details .details_content .rating_star .stars i {
    font-size: 15px;
    color: #ffc107;
  }
  
  .course__details .course__details_title .single__details .details_content .rating_star .stars i:not(:last-child) {
    margin-right: 5px;
  }
  
  .course__details .course__details_title .single__details .details_content .rating_star p {
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: var(--base_color);
    margin-bottom: 0;
    margin-left: 19px;
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .course__details .course__details_title .single__details .details_content .rating_star p {
      margin-left: 5px;
    }
  }
  
  .course__details .video_screen {
    background-image: url(../img/edu_banner.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 991px) {
    .course__details .video_screen {
      height: 500px;
    }
  }
  
  .course__details .video_screen p {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-top: 14px;
  }
  
  .sidebar__widget .sidebar__title {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }
  
  .sidebar__widget .sidebar__title h3 {
    font-size: 36px;
    font-weight: 600;
    color: var(--base_color);
    margin-bottom: 0;
    margin-right: 23px;
  }
  
  @media (max-width: 991px) {
    .sidebar__widget .sidebar__title h3 {
      font-size: 30px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .sidebar__widget .sidebar__title h3 {
      font-size: 30px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1599.98px) {
    .sidebar__widget .sidebar__title h3 {
      font-size: 30px;
    }
  }
  
  .sidebar__widget .sidebar__title p {
    font-size: 14px;
    font-weight: 400;
    color: #828bb2;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .sidebar__widget .sidebar__title p i {
    color: #828bb2;
    font-size: 16px;
    margin-right: 5px;
  }
  
  .sidebar__widget .course_includes li {
    display: flex;
    align-items: center;
  }
  
  .sidebar__widget .course_includes li:not(:last-child) {
    margin-bottom: 17px;
  }
  
  .sidebar__widget .course_includes li i {
    font-size: 22px;
    font-weight: 400;
    color: var(--base_color);
    margin-right: 15px;
  }
  
  .sidebar__widget .course_includes li p {
    font-size: 14px;
    font-weight: 500;
    color: var(--base_color);
    margin-bottom: 0;
  }
  
  @media (max-width: 991px) {
    .lms_tab_content {
      margin-bottom: 45px;
    }
  }
  
  @media (min-width: 1500px) {
    .lms_tab_content {
      padding-right: 50px;
    }
  }
  
  .lms_tab_content .course_overview_description .single_overview:not(:last-child) {
    margin-bottom: 54px;
  }
  
  .lms_tab_content .course_overview_description .single_overview:last-child {
    margin-bottom: 25px;
  }
  
  .lms_tab_content .course_overview_description .single_overview .theme_border {
    margin-bottom: 24px;
  }
  
  .lms_tab_content .course_overview_description .single_overview p {
    line-height: 26px;
    font-weight: 400;
  }
  
  .lms_tab_content .course_overview_description .single_overview .social_btns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .lms_tab_content .course_overview_description .single_overview .social_btns .social_btn {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .lms_tab_content .instractor_details_wrapper {
    padding-bottom: 97px;
  }
  
  @media (max-width: 991px) {
    .lms_tab_content .instractor_details_wrapper {
      padding-bottom: 47px;
    }
  }
  
  .lms_tab_content .instractor_details_wrapper .instractor_title {
    margin-bottom: 38px;
  }
  
  .lms_tab_content .instractor_details_wrapper .instractor_title h4 {
    margin-bottom: 3px;
  }
  
  .lms_tab_content .instractor_details_wrapper .instractor_title > p {
    color: #373737;
    font-weight: 500;
  }
  
  .lms_tab_content .instractor_details_wrapper .instractor_details_inner {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 60px;
    margin-bottom: 53px;
  }
  
  @media (max-width: 991px) {
    .lms_tab_content .instractor_details_wrapper .instractor_details_inner {
      grid-template-columns: auto;
      grid-gap: 30px;
      margin-bottom: 30px;
    }
  }
  
  .lms_tab_content .instractor_details_wrapper .instractor_details_inner .instractor_details_info h4 {
    margin-bottom: 8px;
  }
  
  .lms_tab_content .instractor_details_wrapper .instractor_details_inner .instractor_details_info h5 {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #373737;
  }
  
  .lms_tab_content .instractor_details_wrapper .instractor_details_inner .instractor_details_info .ins_details {
    margin-bottom: 21px;
    margin-top: 24px;
  }
  
  @media (max-width: 991px) {
    .lms_tab_content .instractor_details_wrapper .instractor_details_inner .instractor_details_info .ins_details {
      margin-bottom: 21px;
    }
  }
  
  .lms_tab_content .instractor_details_wrapper .instractor_details_inner .instractor_details_info .intractor_qualification .single_qualification {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
  }
  
  .lms_tab_content .instractor_details_wrapper .instractor_details_inner .instractor_details_info .intractor_qualification .single_qualification i {
    font-size: 22px;
    font-weight: 400;
    margin-right: 15px;
  }
  
  .lms_tab_content .author_courses {
    padding-top: 87px;
    border-top: 1px solid #e9e7f7;
  }
  
  @media (max-width: 991px) {
    .lms_tab_content .author_courses {
      padding-top: 47px;
    }
  }
  
  .course_review_wrapper .details_title {
    margin-bottom: 38px;
  }
  
  .course_review_wrapper .details_title h4 {
    margin-bottom: 3px;
  }
  
  .course_review_wrapper .details_title > p {
    color: #373737;
  }
  
  .course_review_wrapper .course_feedback {
    display: flex;
  }
  
  @media (max-width: 991px) {
    .course_review_wrapper .course_feedback {
      flex-direction: column;
    }
  }
  
  .course_review_wrapper .course_feedback .course_feedback_left {
    padding-right: 55px;
    margin-bottom: 30px;
  }
  
  .course_review_wrapper .course_feedback .course_feedback_left h2 {
    font-size: 60px;
    font-weight: 900;
    color: #fb1159;
    margin-bottom: 0;
    line-height: 1;
  }
  
  .course_review_wrapper .course_feedback .course_feedback_left .feedmak_stars {
    display: flex;
    align-items: center;
    margin: 5px 0 8px 0;
  }
  
  .course_review_wrapper .course_feedback .course_feedback_left .feedmak_stars i {
    color: #ffc107;
    font-size: 17px;
  }
  
  .course_review_wrapper .course_feedback .course_feedback_left .feedmak_stars i:not(:last-child) {
    margin-right: 5px;
  }
  
  .course_review_wrapper .course_feedback .course_feedback_left span {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--base_color);
  }
  
  .course_review_wrapper .course_feedback .feedbark_progressbar {
    width: 100%;
  }
  
  .course_review_wrapper .course_feedback .feedbark_progressbar .single_progrssbar {
    display: grid;
    grid-template-columns: minmax(max-content, 100%) repeat(2, 1fr);
    align-items: center;
    margin-bottom: 20px;
  }
  
  .course_review_wrapper .course_feedback .feedbark_progressbar .single_progrssbar .progress {
    height: 10px;
    background-color: #e8e8ed;
    border-radius: 30px;
    margin-right: 30px;
  }
  
  @media (max-width: 991px) {
    .course_review_wrapper .course_feedback .feedbark_progressbar .single_progrssbar .progress {
      margin-right: 15px;
    }
  }
  
  .course_review_wrapper .course_feedback .feedbark_progressbar .single_progrssbar .progress .progress-bar {
    background: var(--base_color);
    border-radius: 30px;
  }
  
  .course_review_wrapper .course_feedback .feedbark_progressbar .single_progrssbar .rating_percent .feedmak_stars {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 20px;
  }
  
  @media (max-width: 991px) {
    .course_review_wrapper .course_feedback .feedbark_progressbar .single_progrssbar .rating_percent .feedmak_stars {
      margin-right: 15px;
    }
  }
  
  .course_review_wrapper .course_feedback .feedbark_progressbar .single_progrssbar .rating_percent .feedmak_stars i {
    color: #ffc107;
    font-size: 17px;
  }
  
  @media (max-width: 991px) {
    .course_review_wrapper .course_feedback .feedbark_progressbar .single_progrssbar .rating_percent .feedmak_stars i {
      font-size: 14px;
    }
  }
  
  .course_review_wrapper .course_feedback .feedbark_progressbar .single_progrssbar .rating_percent .feedmak_stars i:not(:last-child) {
    margin-right: 5px;
  }
  
  .course_review_wrapper .course_feedback .feedbark_progressbar .single_progrssbar .rating_percent span {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--base_color);
  }
  
  .course_review_wrapper .course_cutomer_reviews {
    border-top: 1px solid #e9e7f7;
    padding-top: 56px;
    margin-top: 36px;
  }
  
  .course_review_wrapper .course_cutomer_reviews .details_title {
    margin-bottom: 55px;
  }
  
  @media (max-width: 991px) {
    .course_review_wrapper .course_cutomer_reviews .details_title {
      margin-bottom: 30px;
    }
  }
  
  .course_review_wrapper .course_cutomer_reviews .single_reviews {
    display: flex;
    border-bottom: 1px solid #e9e7f7;
    padding-bottom: 57px;
    margin-bottom: 60px;
  }
  
  .course_review_wrapper .course_cutomer_reviews .single_reviews:last-child {
    padding-bottom: 37px;
    border: 0;
  }
  
  @media (max-width: 991px) {
    .course_review_wrapper .course_cutomer_reviews .single_reviews {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 575.98px) {
    .course_review_wrapper .course_cutomer_reviews .single_reviews {
      flex-direction: column;
    }
  }
  
  .course_review_wrapper .course_cutomer_reviews .single_reviews .thumb {
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fb1159;
    flex: 80px 0 0;
    margin-right: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
    margin-bottom: 20px;
  }
  
  .course_review_wrapper .course_cutomer_reviews .single_reviews .review_content h4 {
    margin-bottom: 0;
  }
  
  .course_review_wrapper .course_cutomer_reviews .single_reviews .review_content .rated_customer {
    display: flex;
    align-items: center;
    margin: 7px 0 21px 0;
  }
  
  .course_review_wrapper .course_cutomer_reviews .single_reviews .review_content .rated_customer .feedmak_stars {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 15px;
  }
  
  .course_review_wrapper .course_cutomer_reviews .single_reviews .review_content .rated_customer .feedmak_stars i {
    color: #ffc107;
    font-size: 15px;
  }
  
  .course_review_wrapper .course_cutomer_reviews .single_reviews .review_content .rated_customer .feedmak_stars i:not(:last-child) {
    margin-right: 5px;
  }
  
  .course_review_wrapper .course_cutomer_reviews .single_reviews .review_content .rated_customer span {
    font-size: 14px;
    font-weight: 500;
    color: #373737;
  }
  
  .lms_tabmenu {
    background: #f8f8fe;
    border-radius: 10px;
    display: inline-flex;
  }
  
  .lms_tabmenu li a {
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: var(--base_color);
    border-radius: 10px;
    padding: 13px 43px;
  }
  
  @media (max-width: 991px) {
    .lms_tabmenu li a {
      padding: 13px 21px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .lms_tabmenu li a {
      padding: 13px 27px;
    }
  }
  
  .lms_tabmenu li a.active {
    color: #fff;
    border-radius: 10px;
  }
  
  .play_button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 100px;
    position: relative;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .play_button:hover {
    color: #fff;
  }
  
  .theme__overlay {
    position: relative;
    z-index: 2;
  }
  
  .theme__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #010513;
    opacity: 0.302;
    z-index: -1;
  }
  
  .social_btn {
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 13px 34px;
    text-transform: capitalize;
    display: inline-block;
  }
  
  .social_btn.fb_bg {
    background: #395799;
  }
  
  .social_btn.Twitter_bg {
    background: #03abf0;
  }
  
  .social_btn.Pinterest_bg {
    background: #c92128;
  }
  
  .social_btn.Linkedin_bg {
    background: #0477b5;
  }
  
  .social_btn i {
    margin-right: 6px;
  }
  
  .social_btn:hover {
    color: #fff;
    background: var(--base_color);
  }
  
  .theme_btn {
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 21px 28px;
    border: 2px solid transparent;
    text-transform: capitalize;
    display: inline-block;
    line-height: 1;
    box-shadow: 0px 10px 20px 0px rgba(108, 39, 255, 0.3);
    text-transform: uppercase;
  }
  
  .theme_btn.small_btn {
    padding: 16px 25px;
  }
  
  .theme_btn.small_btn2 {
    padding: 16px 39px;
  }
  
  .theme_btn.small_btn3 {
    padding: 16px 32px;
  }
  
  .theme_btn.small_btn4 {
    padding: 11px 21px;
  }
  
  .theme_btn.small_btn5 {
    padding: 13.5px 46px;
  }
  
  .theme_btn.small_btn6 {
    padding: 11px 39px;
  }
  
  @media (max-width: 575.98px) {
    .theme_btn {
      padding: 15px 16px;
    }
  }
  
  .theme_btn:hover {
    color: var(--base_color);
    border-color: var(--border_color);
    background: transparent;
  }
  
  .edu_large_style {
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
  }
  
  .theme_line_btn {
    background: transparent;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 14px;
    color: var(--base_color);
    font-weight: 500;
    padding: 21px 28px;
    border: 2px solid transparent;
    text-transform: capitalize;
    display: inline-block;
    line-height: 1;
    border-color: var(--border_color);
    text-transform: uppercase;
  }
  
  @media (max-width: 575.98px) {
    .theme_line_btn {
      padding: 15px 16px;
    }
  }
  
  .theme_line_btn.small_btn2 {
    padding: 16px 39px;
  }
  
  .theme_line_btn.small_btn3 {
    padding: 12px 15px;
  }
  
  .theme_line_btn:hover {
    color: #fff;
    border-color: var(--base_color);
    background: var(--base_color);
  }
  
  .theme_border {
    border-top: 1px solid #eceef4;
  }
  
  .mb_55 {
    margin-bottom: 55px;
  }
  
  @media (min-width: 1201px) {
    .course_tabs {
      margin-left: 60px;
    }
  }
  
  .edu_cart_area {
    background: #fff;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 15px 0px rgba(236, 208, 244, 0.3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 991px) {
    .edu_cart_area {
      display: block;
    }
  }
  
  .edu_cart_area .edu_cart_left {
    padding: 80px;
  }
  
  @media (max-width: 991px) {
    .edu_cart_area .edu_cart_left {
      padding: 25px;
    }
  }
  
  .edu_cart_area .edu_cart_left .primary-btn {
    line-height: 30px;
    padding: 0;
    width: 60px;
    height: 30px;
    box-shadow: 0px 10px 20px 0px rgba(108, 39, 255, 0.3);
  }
  
  .edu_cart_area .edu_cart_left .edu_cart_left_content {
    max-width: 400px;
  }
  
  .edu_cart_area .edu_cart_left .address__lists {
    margin: 23px 0 45px 0;
  }
  
  .edu_cart_area .edu_cart_left .address__lists p {
    font-size: 14px;
    color: #828bb2;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .edu_cart_area .edu_cart_right {
    background: #f0f1f5;
    padding: 80px;
    border-radius: 0px 10px 10px 0px;
  }
  
  @media (max-width: 991px) {
    .edu_cart_area .edu_cart_right {
      padding: 25px;
    }
  }
  
  .edu_cart_area .edu_cart_right .main-title {
    margin-bottom: 23px;
  }
  
  .payment_lists {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    flex-wrap: wrap;
  }
  
  .payment_lists .paymnt_btn {
    border: 0;
    padding: 0;
  }
  
  .course_cart_list .single_course_cart_list {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media (max-width: 991px) {
    .course_cart_list .single_course_cart_list {
      grid-gap: 20px;
    }
  }
  
  .course_cart_list .single_course_cart_list .course_information {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .course_cart_list .single_course_cart_list .course_information {
      grid-gap: 20px;
    }
  }
  
  .course_cart_list .single_course_cart_list:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .course_cart_list .single_course_cart_list h4 {
    max-width: 240px;
  }
  
  .course_cart_list .single_course_cart_list h4 a {
    font-size: 16px;
    color: var(--base_color);
    line-height: 30px;
    font-weight: 400;
  }
  
  .course_cart_list .single_course_cart_list h4 a:hover {
    color: var(--gradient_1);
  }
  
  .course_cart_list .single_course_cart_list h5 {
    font-size: 16px;
    color: var(--base_color);
    font-weight: 500;
  }
  
  .course_cart_amount {
    border-top: 1px solid #dadce3;
  }
  
  .course_cart_amount .single_amount {
    border-bottom: 1px solid #dadce3;
    padding: 14.5px 0;
  }
  
  .course_cart_amount .single_amount span {
    color: #828bb2;
  }
  
  .edu_video_area {
    background: #fff;
    overflow-x: hidden;
  }
  
  .edu_video_area .edu_video_header {
    background: #fff;
    padding: 30px 40px;
    border-bottom: 1px solid #eceef4;
  }
  
  @media (max-width: 767.98px) {
    .edu_video_area .edu_video_header {
      padding: 20px 25px;
    }
  }
  
  .edu_video_area .edu_video_header .edu_video_header_right .auto_text {
    display: flex;
    align-items: center;
    grid-gap: 15px;
  }
  
  @media (max-width: 575.98px) {
    .edu_video_area .edu_video_header .edu_video_header_right .auto_text {
      display: none;
    }
  }
  
  .edu_video_area .edu_video_header .edu_video_header_right .auto_text span {
    font-size: 16px;
    color: #828bb2;
    font-weight: 500;
  }
  
  .edu_video_area .edu_video_header .edu_video_header_right .next_prev_btn {
    margin: 0 40px 0 40px;
  }
  
  @media (max-width: 575.98px) {
    .edu_video_area .edu_video_header .edu_video_header_right .next_prev_btn {
      margin: 0 10px 0 0px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .edu_video_area .edu_video_header .edu_video_header_right .next_prev_btn {
      margin: 0 20px 0 20px;
    }
  }
  
  .edu_video_area .edu_video_header .edu_video_header_right .rating_text {
    grid-gap: 14px;
    max-width: 290px;
  }
  
  @media (min-width: 1680px) {
    .edu_video_area .edu_video_header .edu_video_header_right .rating_text {
      min-width: 290px;
    }
  }
  
  @media only screen and (min-width: 1440px) and (max-width: 1679px) {
    .edu_video_area .edu_video_header .edu_video_header_right .rating_text {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .edu_video_area .edu_video_header .edu_video_header_right .rating_text {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
    .edu_video_area .edu_video_header .edu_video_header_right .rating_text {
      max-width: 290px;
      margin-right: 20px;
    }
  }
  
  @media (max-width: 991px) {
    .edu_video_area .edu_video_header .edu_video_header_right .rating_text {
      display: none !important;
    }
  }
  
  .edu_video_area .edu_video_header .edu_video_header_right .rating_text i {
    font-size: 16px;
    color: #6e7db4;
  }
  
  .edu_video_area .edu_video_header .edu_video_header_right .rating_text span {
    font-size: 16px;
    color: #828bb2;
    font-weight: 400;
  }
  
  .edu_video_area .edu_video_header .edu_video_header_right .shair_progress_info {
    grid-gap: 20px;
  }
  
  @media (max-width: 991px) {
    .edu_video_area .edu_video_header .edu_video_header_right .shair_progress_info .primary-btn {
      display: none;
    }
  }
  
  .gap_5 {
    grid-gap: 5px;
  }
  
  .video_palyer_area .video_palyer_box .video_screen {
    background-image: url(../img/edu_banner.png);
    height: 750px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 991px) {
    .video_palyer_area .video_palyer_box .video_screen {
      height: 400px;
    }
  }
  
  .video_palyer_area .video_palyer_box .video_screen p {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-top: 14px;
  }
  
  .infix_vaccordian {
    overflow-x: auto;
  }
  
  .infix_vaccordian h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .infix_vaccordian .card {
    margin-bottom: 0px;
    border: 0;
    overflow: visible;
    background: transparent;
    border-bottom: 1px solid #edeff5 !important;
  }
  
  .infix_vaccordian .card .card-header {
    border: 0;
    padding: 0;
    border-radius: 0px !important;
  }
  
  .infix_vaccordian .card .card-header h2 {
    padding: 0;
  }
  
  .infix_vaccordian .card .card-header h2 a {
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    position: relative;
    position: relative;
    padding: 16px 20px 15px 33px;
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
  }
  
  .infix_vaccordian .card .card-header h2 a h5 {
    font-size: 16px;
    font-weight: 600;
    color: #4b5898;
    margin-bottom: 1px;
  }
  
  .infix_vaccordian .card .card-header h2 a span {
    font-size: 14px;
    color: #828bb2;
    font-weight: 400;
  }
  
  .infix_vaccordian .card .card-header h2 a::before {
    content: "\e648";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "themify";
    font-size: 14px;
    right: 30px;
    color: #4b5898;
  }
  
  @media (max-width: 991px) {
    .infix_vaccordian .card .card-header h2 a::before {
      right: 20px;
    }
  }
  
  .infix_vaccordian .card .card-header h2 a.collapsed {
    color: var(--base_color);
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  
  .infix_vaccordian .card .card-header h2 a.collapsed::before {
    content: "\e64b";
    color: var(--base_color);
  }
  
  .infix_vaccordian .card .card-header h2 a:focus {
    text-decoration: none;
  }
  
  .infix_vaccordian .card .card-body {
    padding: 20px 0;
    margin: 0 30px;
    border-top: 1px solid #edeff5;
  }
  
  @media (max-width: 575.98px) {
    .infix_vaccordian .card .card-body {
      padding: 15px 0;
      margin: 0 20px;
    }
  }
  
  .video_palyer_lists {
    width: 420px;
    background: #fff;
    height: 100%;
  }
  
  @media (max-width: 991px) {
    .video_palyer_lists {
      width: 280px;
      position: absolute;
      top: 0;
      z-index: 121;
      right: -280px;
      transition: 0.3s;
    }
  }
  
  .video_palyer_lists.active {
    right: 0px;
  }
  
  .video_palyer_lists .video_palyer_lHEad {
    grid-gap: 15px;
    padding: 30px 30px 16px 30px;
    border-bottom: 1px solid #edeff5;
  }
  
  .video_palyer_lists .video_palyer_lHEad .lisson_arrow {
   
  